---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xhtml="http://www.w3.org/1999/xhtml">
	<url>
		<loc>https://conceptfood.co.nz/</loc>
		<lastmod>2023-10-17T07:41:13+00:00</lastmod>
		<priority>1.00</priority>
	</url>
	<url>
		<loc>https://conceptfood.co.nz/menus/concept-food-menu-canapes.pdf</loc>
		<lastmod>2023-10-17T07:41:13+00:00</lastmod>
		<priority>0.80</priority>
	</url>
	<url>
		<loc>https://conceptfood.co.nz/menus/concept-food-menu-bowl-food.pdf</loc>
		<lastmod>2023-10-17T07:41:13+00:00</lastmod>
		<priority>0.80</priority>
	</url>
	<url>
		<loc>https://conceptfood.co.nz/menus/concept-food-menu-set-plated-dinner.pdf</loc>
		<lastmod>2023-10-17T07:41:13+00:00</lastmod>
		<priority>0.80</priority>
	</url>
</urlset>
