---
title: 404 - Page not found
layout: layouts/base.njk
permalink: 404.html
eleventyExcludeFromCollections: true
---

<section class="not-found">
	<div class="container">
			<div class="title-container">
				<h2>404 - Page not found.</h2>
			</div>
	</div>
</section>
